*{
 
    font-family: "Poppins","Arial" ,sans-serif;
    color: white;
}
body{
    /* background-image: url('images/laptop.jpg') ; */
    background-repeat: no-repeat; 
     /* background-position: center;
     background-position: 0px 0px; */
     /* background-attachment: fixed;  */
    /* background-size: contain; */
    background:linear-gradient(to right, rgba(0, 0, 0.25), rgba(255, 255, 255,0)) ,url('images/laptop.jpg');
    background-size: cover;  

}
.container{
    width: 80%;
    margin:0 auto ;
}

nav{
    display: flex;   
  padding: 10px;
}
nav .logo{
    margin: auto 0;  
}
  img {
    width: 50px; 
    border-radius: 100%;

}
.nav {
    margin-left: auto; 
}
.nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
}
nav ul li a{   
    padding: 10px;   
    text-decoration: none;
    color: white;
    text-shadow: 0 0 3px #000, 5px 5px 1px #0000;
    text-shadow: 0px 0px 4px black, 0px 0px 5px black, 0px 0px 6px black;
}



section {
    /* height: 100%;  */
    position: fixed;
    top: 40%;
    left: 0;
    /* background-color: rgba(0, 0,0, .5); */
    /* background-image: linear-gradient(to right, rgba(0, 0, 0.25), rgba(255, 255, 255,0)); */
  
  } 
  section h1, section p , button{
    position: relative;
    top: 40%;
    left: 20%; 
  }
  section h1{
      font-size: 50px;
      margin: 0;
  }
  section p{
      font-size: 20px;
    text-shadow: 0 0 3px #000, 5px 5px 1px #0000;

  }
  button{
      background-color: transparent;
      border-radius: 50px;
  }
footer { 
    position: fixed;
    bottom: 0; 
    width: 100%; 
    text-align: center;
  } 